<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hua.gr</title>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div class="container" align="center">
    <div class="jumbotron">
    <br/>
    <form class="form-horizontal" th:object="${user}" th:action="@{/update-user}" method="post" style="max-width:400px;margin: 0 auto;">
        <div class="form-group">
            <label for="usernameInput">Username</label>
            <input type="text" class="form-control" th:field="*{username}" id="usernameInput" >
        </div>
        <div class="custom-control custom-switch">
            <label class="custom-control-label" for="enabledSwitch">Enabled</label>
            <input type="checkbox" class="custom-control-input" th:field="*{enabled}" id="enabledSwitch" checked="">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>