<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:margin-right="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hua.gr</title>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<br>
<div class="container">
    <div class="jumbotron">
        <h1 align="center">Doctorate Candidate Points Lookup</h1>
        <form class="form-horizontal" align="center" th:action="@{/submitSearch}" method="post" style="max-width:350px;margin: 0 auto;">
            <div class="form-group">
                <select class="custom-select" id="typeSelect" name="type">
                    <option selected="">Choose type of info to search for.</option>
                    <option value="1">Total points</option>
                    <option value="2">Teaching points</option>
                    <option value="3">Surveillance Points</option>
                    <option value="4">Correction Points</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Please enter the candidate doctorate id." id="docid" name="docid" disabled="true">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" role="button" value="Search" id="submitSearch" disabled="true">
            </div>
            <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
        </form>
        <script>
            document.getElementById('typeSelect').addEventListener('change', (event) =>
            {
                if (event.target.value >= 1 && event.target.value <= 4)
                {
                    document.getElementById("docid").disabled=false;
                    document.getElementById("submitSearch").disabled=false;
                }
                else
                {
                    document.getElementById("docid").disabled=true;
                    document.getElementById("submitSearch").disabled=true;
                }
            });
        </script>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>