<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>
</head>
<body>
<div layout:fragment="content" class="container">

    <div class="jumbotron">
        <h1>Front Page</h1>
        <p>This is a temporary example to make sure everything works</p>
        <p>
            <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Some button</a>
        </p>
    </div>
</div>
</body>
</html>