<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hua.gr</title>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<table class="table table-hover">
    <thead>
    <tr class="table-info">
        <th>Candidate ID</th>
        <th>Supervisor ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>User Name</th>
        <th>Correction Points</th>
        <th>Target Correction Points</th>
        <th>Surveilence Points</th>
        <th>Target Surveilence Points</th>
        <th>Teaching Points</th>
        <th>Target Teaching Points</th>

        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="Candidate : ${listCandidates}">
        <td th:text="${Candidate.candidateId}">canid</td>
        <td th:text="${Candidate.professor.personellID}">supid</td>
        <td th:text="${Candidate.fname}">fname</td>
        <td th:text="${Candidate.lname}">lname</td>
        <td th:text="${Candidate.user.username}">username</td>
        <td th:text="${Candidate.cp}">cp</td>
        <td th:text="${Candidate.tcp}">tcp</td>
        <td th:text="${Candidate.sp}">sp</td>
        <td th:text="${Candidate.tsp}">tsp</td>
        <td th:text="${Candidate.tp}">tp</td>
        <td th:text="${Candidate.ttp}">ttp</td>

        <td>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{'/editCan-' + ${Candidate.candidateId}}">Edit</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a sec:authorize="hasRole('SECRETARY')" th:href="@{'/add-points-' + ${Candidate.candidateId}}">Add Points</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a th:href="@{'/delete-' + ${Candidate.candidateId}}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>